@charset "UTF-8";

// layout
#wrap {
    width: 100%;
    min-width: 120rem;
}
#header {
    position: relative;
    border-bottom: $border #d8d8d8;
    .logo {
        width: 34.1rem;
        height: 5.9rem;
        > a {
            display: block;
            width: 100%;
            height: 100%;
            background: url($url-img-common + "logo.svg") no-repeat 0 0;
            background-size: contain;
        }
    }
    .btn_hamburger {
        position: absolute;
        top: 0.4rem;
        right: 0.9rem;
        display: $none;
        width: 6.8rem;
        height: 6.4rem;
        background: url($url-img-common + "bg_hamburger.svg") no-repeat 0 0;
        background-size: contain;
    }
    .lyinner {
        width: 120rem;
        margin: 0 auto;
        padding: var(--gap-30) 0;
    }
    .utility {
        display: flex;
        justify-content: flex-end;
        margin-bottom: var(--gap-55);
        [class^="btn_"] {
            + [class^="btn_"] {
                margin-left: 3.2rem;
            }
        }
        > .box {
            display: flex;
            align-items: center;
            + .box {
                margin-left: var(--gap-35);
                [class^="btn_"] {
                    + [class^="btn_"] {
                        margin-left: var(--gap-8);
                    }
                }
            }
        }
    }
    .nav_area {
        border-top: $border #d8d8d8;
        .inner {
            position: relative;
            // padding: $gap-0 1.3rem;
        }
    }
}
#container {
    width: 120rem;
    margin: 0 auto;
    > .lyinner {
        display: flex;
        gap: 6.4rem;
    }
    #aside {
        width: 24.8rem;
        margin-top: 2.3rem;
    }

    #contents {
        flex: 1;
        padding: 2.3rem 0;
        .section + .section {
            margin-top: var(--gap-50);
        }
    }
}
#footer {
    width: 100%;
    height: 10rem;
    // border-top: $border #d8d8d8;
    .lyinner {
        width: 120rem;
        margin: 0 auto;
        padding-bottom: 9rem;
    }
    .foot_service {
        @include flex-between;
        align-items: center;
        padding: var(--gap-15) 0;
        border-bottom: $border #a9a9a9;
        .link_policy {
            > a {
                color: var(--color-warmgray);
                + a {
                    margin-left: var(--gap-35);
                }
                &:first-child {
                    color: var(--color-warblue);
                }
            }
        }
        .relation_info {
            @include flex-between;
            select,
            .select_layer {
                width: 21rem;
                + select,
                + .select_layer {
                    margin-left: var(--gap-13);
                }
            }
        }
    }
    .foot_info {
        padding-top: 2.6rem;
    }
    .kwwa_logo {
        width: 21rem;
        height: 3.3rem;
        background: url($url-img-common + "kwwa_logo.svg") no-repeat 0 0;
    }
    .contact_area {
        margin-top: var(--gap-15);
        color: var(--color-warmgray);
        font-size: 1.6rem;
        .cs {
            display: flex;
            flex-wrap: wrap;
            > strong {
                color: var(--color-black);
                margin-right: var(--gap-10);
                font-weight: var(--font-weight-regular);
            }
            p {
                + p {
                    position: relative;
                    padding-left: var(--gap-16);
                    &::before {
                        @include pseudo-selector;
                        left: 0.8rem;
                        width: 0.1rem;
                        height: 1.4rem;
                        margin-top: -0.7rem;
                        background-color: var(--color-warmgray);
                    }
                }
            }
        }
    }
    .copyright {
        margin-top: var(--gap-15);
        color: var(--color-warmgray);
        font-size: 1.6rem;
    }
}

@include mobile {
    #wrap {
        min-width: auto;
    }
    #header {
        height: 7.2rem;
        padding: var(--gap-20) 9rem var(--gap-20) var(--gap-24);
        border-bottom: 0;
        .logo {
            width: 40.7rem;
            height: 2.4rem;
            > a {
                display: block;
                width: 100%;
                height: 100%;
                background: url($url-img-common + "logo_mo.svg") no-repeat 0 0;
                background-size: contain;
            }
        }
        .btn_hamburger {
            display: $block;
        }
        .lyinner {
            width: auto;
            padding: 0;
        }
        .utility,
        .nav_area {
            display: $none;
        }
    }
    #container {
        width: 100%;
        > .lyinner {
            gap: 0;
        }
        #aside {
            display: none;
        }
        #contents {
            padding: var(--gap-50) var(--gap-24);
        }
    }
    #footer {
        height: auto;
        padding: 3.6rem var(--gap-24);
        .lyinner {
            width: auto;
            padding-bottom: 0;
        }
        .foot_service {
            flex-direction: column;
            align-items: start;
            padding: 0 0 2.3rem 0;
            border-bottom: 0;
            .link_policy {
                > a {
                    + a {
                        margin-left: 2.2rem;
                    }
                }
            }
            .relation_info {
                display: block;
                width: 100%;
                margin-top: 2.3rem;
                select,
                .select_layer {
                    width: 100%;
                    + select,
                    + .select_layer {
                        margin: var(--gap-5) 0 0 0;
                    }
                }
            }
        }
        .foot_info {
            padding-top: 0;
        }
        .contact_area {
            margin-top: 2.3rem;
        }
    }
}

// gnb
.gnb {
    display: block;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 1.3rem;
    > .depth1 {
        @include flex-between;
        align-items: center;
        > li {
            position: relative;
            padding: 1.8rem 0;
            > a {
                position: relative;
                padding-right: var(--gap-30);
                color: var(--color-gray);
                font-size: 2.3rem;
                text-align: center;
                font-weight: var(--font-weight-bold);
                &::before {
                    content: "";
                    position: absolute;
                    top: 0.1rem;
                    right: 0;
                    width: 2.4rem;
                    height: 2.4rem;
                    background: url($url-img-common + "bg_nav.svg") no-repeat 0 0;
                }
            }
            .sub {
                display: none;
                position: absolute;
                top: 113px;
                left: 40px;
                z-index: 2;
                width: 1040px;
            }
        }
    }
    .bg {
        position: absolute;
        top: 7.3rem;
        left: 0;
        z-index: 1;
        display: none;
        width: 100%;
        height: 28.5rem;
        background-color: var(--color-white);
        border-bottom: $border #dcdcdc;
    }
}
