@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-gov-dynamic-subset.min.css");
:root {
  --font-family-base: Pretendard GOV;
  --font-size-base: 62.5%;
  --font-size-xsm: 1.3rem;
  --font-size-sm: 1.5rem;
  --font-size-md: 1.7rem;
  --font-size-lg: 2.4rem;
  --font-size-xlg: 4rem;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-color-base: #1e2124;
  --color-white: #fff;
  --color-base: #1e2124;
  --color-black: #000;
  --color-lightblack: #1d1d1d;
  --color-darkblack: #111;
  --color-warblack: #131416;
  --color-gray: #464c53;
  --color-lightgray: #e6e8ea;
  --color-darkgray: #6d7882;
  --color-warmgray: #666;
  --color-blue: #256ef4;
  --color-darkblue: #0b50d0;
  --color-lightblue: #eef2f7;
  --color-skyblue: #ecf2fe;
  --color-warblue: #4c87f6;
  --gap-4: 0.4rem;
  --gap-5: 0.5rem;
  --gap-6: 0.6rem;
  --gap-7: 0.7rem;
  --gap-8: 0.8rem;
  --gap-10: 1rem;
  --gap-12: 1.2rem;
  --gap-13: 1.3rem;
  --gap-14: 1.4rem;
  --gap-15: 1.5rem;
  --gap-16: 1.6rem;
  --gap-17: 1.7rem;
  --gap-18: 1.8rem;
  --gap-20: 2rem;
  --gap-24: 2.4rem;
  --gap-25: 2.5rem;
  --gap-26: 2.6rem;
  --gap-28: 2.8rem;
  --gap-30: 3rem;
  --gap-35: 3.5rem;
  --gap-40: 4rem;
  --gap-45: 4.5rem;
  --gap-48: 4.8rem;
  --gap-50: 5rem;
  --gap-55: 5.5rem;
  --gap-60: 6rem;
  --align-t: top;
  --align-m: middle;
  --align-b: bottom;
}

/* reset */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-base);
  color: var(--font-color-base);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
  background-color: #fff;
}

html {
  font-size: var(--font-size-base);
}

body {
  font-size: var(--font-size-md);
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
figure {
  margin: 0;
  padding: 0;
  word-break: keep-all;
}

input,
textarea,
select,
td,
th,
button {
  color: var(--font-color-base);
  font-family: var(--font-family-base);
  font-size: var(--font-size-md);
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: var(--font-weight-regular);
}

ol,
ul,
li {
  list-style: none;
}

abbr,
acronym {
  border: 0;
}

abbr[title] {
  cursor: help;
  text-decoration: none;
}

hr,
legend {
  position: absolute;
  top: 0;
  left: -9999px;
  visibility: hidden;
  overflow: hidden;
}

caption {
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin-top: -1px;
  line-height: 0;
  text-indent: -9999px;
}

img,
fieldset {
  border: 0 none;
}

img {
  vertical-align: top;
}

label {
  cursor: pointer;
  vertical-align: middle;
}

strong {
  font-weight: var(--font-weight-bold);
}

a:link, a:visited {
  color: inherit;
  text-decoration: none;
}
a:hover, a:active {
  text-decoration: none;
}

header,
footer,
section,
article {
  display: block;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
  background: 0 none;
}

#wrap {
  width: 100%;
  min-width: 120rem;
}

#header {
  position: relative;
  border-bottom: 0.1rem solid #d8d8d8;
}
#header .logo {
  width: 34.1rem;
  height: 5.9rem;
}
#header .logo > a {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../../resources/images/common/logo.svg") no-repeat 0 0;
  background-size: contain;
}
#header .btn_hamburger {
  position: absolute;
  top: 0.4rem;
  right: 0.9rem;
  display: none;
  width: 6.8rem;
  height: 6.4rem;
  background: url("../../resources/images/common/bg_hamburger.svg") no-repeat 0 0;
  background-size: contain;
}
#header .lyinner {
  width: 120rem;
  margin: 0 auto;
  padding: var(--gap-30) 0;
}
#header .utility {
  display: flex;
  justify-content: flex-end;
  margin-bottom: var(--gap-55);
}
#header .utility [class^=btn_] + [class^=btn_] {
  margin-left: 3.2rem;
}
#header .utility > .box {
  display: flex;
  align-items: center;
}
#header .utility > .box + .box {
  margin-left: var(--gap-35);
}
#header .utility > .box + .box [class^=btn_] + [class^=btn_] {
  margin-left: var(--gap-8);
}
#header .nav_area {
  border-top: 0.1rem solid #d8d8d8;
}
#header .nav_area .inner {
  position: relative;
}

#container {
  width: 120rem;
  margin: 0 auto;
}
#container > .lyinner {
  display: flex;
  gap: 6.4rem;
}
#container #aside {
  width: 24.8rem;
  margin-top: 2.3rem;
}
#container #contents {
  flex: 1;
  padding: 2.3rem 0 var(--gap-60);
}
#container #contents .section + .section {
  margin-top: var(--gap-50);
}

#footer {
  width: 100%;
  height: 10rem;
}
#footer .lyinner {
  width: 120rem;
  margin: 0 auto;
  padding-bottom: 9rem;
}
#footer .foot_service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--gap-15) 0;
  border-bottom: 0.1rem solid #a9a9a9;
}
#footer .foot_service .link_policy > a {
  color: var(--color-warmgray);
}
#footer .foot_service .link_policy > a + a {
  margin-left: var(--gap-35);
}
#footer .foot_service .link_policy > a:first-child {
  color: var(--color-warblue);
}
#footer .foot_service .relation_info {
  display: flex;
  justify-content: space-between;
}
#footer .foot_service .relation_info select,
#footer .foot_service .relation_info .select_layer {
  width: 21rem;
}
#footer .foot_service .relation_info select + select,
#footer .foot_service .relation_info select + .select_layer,
#footer .foot_service .relation_info .select_layer + select,
#footer .foot_service .relation_info .select_layer + .select_layer {
  margin-left: var(--gap-13);
}
#footer .foot_info {
  padding-top: 2.6rem;
}
#footer .kwwa_logo {
  width: 21rem;
  height: 3.3rem;
  background: url("../../resources/images/common/kwwa_logo.svg") no-repeat 0 0;
}
#footer .contact_area {
  margin-top: var(--gap-15);
  color: var(--color-warmgray);
  font-size: 1.6rem;
}
#footer .contact_area .cs {
  display: flex;
  flex-wrap: wrap;
}
#footer .contact_area .cs > strong {
  color: var(--color-black);
  margin-right: var(--gap-10);
  font-weight: var(--font-weight-regular);
}
#footer .contact_area .cs p + p {
  position: relative;
  padding-left: var(--gap-16);
}
#footer .contact_area .cs p + p::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  left: 0.8rem;
  width: 0.1rem;
  height: 1.4rem;
  margin-top: -0.7rem;
  background-color: var(--color-warmgray);
}
#footer .copyright {
  margin-top: var(--gap-15);
  color: var(--color-warmgray);
  font-size: 1.6rem;
}

@media screen and (max-width: 1024px) {
  #wrap {
    min-width: auto;
  }
  #header {
    height: 7.2rem;
    padding: var(--gap-20) 9rem var(--gap-20) var(--gap-24);
    border-bottom: 0;
  }
  #header .logo {
    width: 40.7rem;
    height: 2.4rem;
  }
  #header .logo > a {
    display: block;
    width: 100%;
    height: 100%;
    background: url("../../resources/images/common/logo_mo.svg") no-repeat 0 0;
    background-size: contain;
  }
  #header .btn_hamburger {
    display: block;
  }
  #header .lyinner {
    width: auto;
    padding: 0;
  }
  #header .utility,
  #header .nav_area {
    display: none;
  }
  #container {
    width: 100%;
  }
  #container > .lyinner {
    gap: 0;
  }
  #container #aside {
    display: none;
  }
  #container #contents {
    padding: var(--gap-50) var(--gap-16);
  }
  #footer {
    height: auto;
    padding: 3.6rem var(--gap-24);
  }
  #footer .lyinner {
    width: auto;
    padding-bottom: 0;
  }
  #footer .foot_service {
    flex-direction: column;
    align-items: start;
    padding: 0 0 2.3rem 0;
    border-bottom: 0;
  }
  #footer .foot_service .link_policy > a + a {
    margin-left: 2.2rem;
  }
  #footer .foot_service .relation_info {
    display: block;
    width: 100%;
    margin-top: 2.3rem;
  }
  #footer .foot_service .relation_info select,
  #footer .foot_service .relation_info .select_layer {
    width: 100%;
  }
  #footer .foot_service .relation_info select + select,
  #footer .foot_service .relation_info select + .select_layer,
  #footer .foot_service .relation_info .select_layer + select,
  #footer .foot_service .relation_info .select_layer + .select_layer {
    margin: var(--gap-5) 0 0 0;
  }
  #footer .foot_info {
    padding-top: 0;
  }
  #footer .contact_area {
    margin-top: 2.3rem;
  }
}
.gnb {
  display: block;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.3rem;
}
.gnb > .depth1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gnb > .depth1 > li {
  position: relative;
  padding: 1.8rem 0;
}
.gnb > .depth1 > li > a {
  position: relative;
  padding-right: var(--gap-30);
  color: var(--color-gray);
  font-size: 2.3rem;
  text-align: center;
  font-weight: var(--font-weight-bold);
}
.gnb > .depth1 > li > a::before {
  content: "";
  position: absolute;
  top: 0.1rem;
  right: 0;
  width: 2.4rem;
  height: 2.4rem;
  background: url("../../resources/images/common/bg_nav.svg") no-repeat 0 0;
}
.gnb > .depth1 > li .sub {
  display: none;
  position: absolute;
  top: 113px;
  left: 40px;
  z-index: 2;
  width: 1040px;
}
.gnb .bg {
  position: absolute;
  top: 7.3rem;
  left: 0;
  z-index: 1;
  display: none;
  width: 100%;
  height: 28.5rem;
  background-color: var(--color-white);
  border-bottom: 0.1rem solid #dcdcdc;
}

.skipTo {
  overflow: hidden;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0.1rem;
  height: 0.1rem;
  background-color: var(--color-black);
  text-align: center;
}

.skipTo:focus {
  position: relative;
  width: 100%;
  height: auto;
  padding: var(--gap-10);
  color: var(--color-white);
}

.hidden {
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  padding: 0;
  margin: -0.1rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.pc_only {
  display: block;
}

.mo_only {
  display: none;
}

@media screen and (max-width: 1024px) {
  .pc_only {
    display: none;
  }
  .mo_only {
    display: block;
  }
}
.gap_mt0 {
  margin-top: 0 !important;
}

.gap_mt33 {
  margin-top: 3.3rem !important;
}

.size_190 {
  width: 19rem !important;
}

.size_200 {
  width: 20rem !important;
}

.size_289 {
  width: 28.9rem !important;
}

.size_300 {
  width: 30rem !important;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  font-size: var(--font-size-sm);
  margin-bottom: var(--gap-50);
}
.breadcrumb > li {
  position: relative;
}
.breadcrumb > li:first-child::before, .breadcrumb > li::after {
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  margin-top: -0.3rem;
  vertical-align: var(--align-m);
  content: "";
}
.breadcrumb > li:first-child::before {
  margin-right: var(--gap-7);
  background: url("../../resources/images/icon/ico_home.svg") no-repeat 0 50%;
}
.breadcrumb > li::after {
  margin: -0.2rem var(--gap-4) 0 var(--gap-4);
  background: url("../../resources/images/common/bg_arrow.svg") no-repeat 0 50%;
  background-size: contain;
  transform: rotate(-90deg);
}
.breadcrumb > li:last-child::after {
  display: none;
}

.page_title {
  margin-bottom: var(--gap-50);
}
.page_title .tit {
  font-size: var(--font-size-xlg);
  font-weight: var(--font-weight-semibold);
}

.tit_area {
  margin-bottom: var(--gap-24);
}
.tit_area .tit {
  font-size: var(--font-size-lg);
}
.tit_area .desc {
  margin-top: var(--gap-24);
}

.progress-bar {
  display: flex;
  justify-content: center;
  margin: var(--gap-24) 0 7rem var(--gap-10);
}
.progress-bar > div {
  position: relative;
  width: 11rem;
}
.progress-bar > div:last-child {
  flex: 0;
}
.progress-bar > div:last-child .step {
  border: 0;
}
.progress-bar > div:last-child .step::before {
  top: -0.9rem;
}
.progress-bar > div::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1rem;
  width: 2rem;
  height: 2rem;
  background-color: var(--color-lightgray);
  border: 0.1rem solid #cdd1d5;
  border-radius: 50%;
}
.progress-bar > div.completion .step {
  border-color: var(--color-darkgray);
}
.progress-bar > div.completion::before {
  background-color: var(--color-darkgray);
  border-color: var(--color-darkgray);
}
.progress-bar > div.completion::after {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: -0.5rem;
  width: 1rem;
  height: 0.618rem;
  border-left: 0.2rem solid var(--color-white);
  border-bottom: 0.2rem solid var(--color-white);
  transform: rotate(315deg);
}
.progress-bar > div.on::before {
  background-color: var(--color-blue);
  border: 0;
}
.progress-bar > div.on::after {
  content: "";
  position: absolute;
  top: 0.3rem;
  left: -0.7rem;
  width: 1.4rem;
  height: 1.4rem;
  border: 0.2rem solid var(--color-white);
  border-radius: 50%;
}
.progress-bar .step {
  display: block;
  margin: 0.9rem 0 0 -1rem;
  padding-top: var(--gap-17);
  color: var(--color-gray);
  font-size: var(--font-size-xsm);
  border-top: 0.2rem solid #cdd1d5;
}
.progress-bar strong {
  display: block;
  margin: 0.2rem 0 0 -1rem;
  font-size: var(--font-size-sm);
}
@media screen and (max-width: 1024px) {
  .progress-bar {
    display: flex;
    justify-content: space-between;
    width: 23.8rem;
    margin: var(--gap-48) auto !important;
  }
  .progress-bar > div {
    flex: 1;
    width: auto;
    padding: 0.9rem 0;
  }
  .progress-bar > div:last-child {
    flex: 0;
  }
  .progress-bar .step {
    width: auto;
    padding: 0;
    margin: 0;
  }
  .progress-bar .step > span {
    display: none;
  }
  .progress-bar strong {
    display: none;
  }
}

[class^=ico_][class*=_outlink], [class^=ico_][class*=_arrow], [class^=ico_][class*=_mark], [class^=ico_][class*=_marknavy], [class^=ico_][class*=_warning], [class^=ico_][class*=_completion] {
  position: relative;
  top: -0.1rem;
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  margin-right: var(--gap-10);
  vertical-align: var(--align-m);
}
[class^=ico_][class*=_outlink] {
  background: url("../../resources/images/icon/ico_outlink.svg") no-repeat 0 0;
}
[class^=ico_][class*=_arrow] {
  width: 1.6rem;
  height: 0.9rem;
  background: url("../../resources/images/icon/ico_arrow.svg") no-repeat 0 0;
}
[class^=ico_][class*=_mark] {
  background: url("../../resources/images/icon/ico_mark.svg") no-repeat 0 0;
}
[class^=ico_][class*=_marknavy] {
  width: 2rem;
  height: 2rem;
  margin: -0.1rem var(--gap-8) 0 0;
  background: url("../../resources/images/icon/ico_mark_navy.svg") no-repeat 0 0;
}
[class^=ico_][class*=_warning] {
  background: url("../../resources/images/icon/ico_warning.svg") no-repeat 0 0;
}
[class^=ico_][class*=_completion] {
  position: absolute;
  top: 0;
  left: 50%;
  width: 6.4rem;
  height: 6.4rem;
  margin-left: -3.2rem;
  background: url("../../resources/images/icon/ico_completion.svg") no-repeat 0 0;
}
[class^=ico_][class*=_txt] {
  position: relative;
}
[class^=ico_][class*=_txt] [class^=ico_] {
  position: absolute;
  top: 50%;
  left: 0;
}
[class^=ico_][class*=_txt]:has([class*=_mark]), [class^=ico_][class*=_txt]:has([class*=_warning]) {
  padding-left: 3rem;
}
[class^=ico_][class*=_txt]:has([class*=_mark]) [class^=ico_], [class^=ico_][class*=_txt]:has([class*=_warning]) [class^=ico_] {
  margin-top: -1.2rem;
}

input[type=text],
input[type=password],
input[type=tel] {
  width: 100%;
  height: 4.8rem;
  padding: 0 var(--gap-16);
  border: 0.1rem solid #58616a;
  border-radius: 0.6rem;
  background-color: var(--color-white);
}
input[type=text]:read-only,
input[type=password]:read-only,
input[type=tel]:read-only {
  color: var(--color-darkgray);
  border-color: #b1b8be;
  background-color: #cdd1d5;
}
input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=tel]::placeholder {
  color: #8a949e !important;
}

select {
  width: 100%;
  height: 4.8rem;
  padding: 0 var(--gap-55) 0 var(--gap-16);
  border: 0.1rem solid #58616a;
  background: var(--color-white) url("../../resources/images/common/bg_select.svg") no-repeat right var(--gap-16) center;
  appearance: none;
  -webkit-appearance: none;
}
select.round {
  height: 4rem;
  padding-right: var(--gap-40);
  color: #8a949e;
  font-size: var(--font-size-sm);
  border-radius: 0.6rem;
  border: 0.1rem solid #58616a;
  background: var(--color-white) url("../../resources/images/common/bg_select_16.svg") no-repeat right var(--gap-16) center;
}

.select_layer {
  position: relative;
  width: 100%;
}
.select_layer .select_tit {
  position: relative;
  width: 100%;
  height: 4rem;
  padding: 0 var(--gap-40) 0 var(--gap-16);
  color: #8a949e;
  font-size: var(--font-size-sm);
  border-radius: 0.6rem;
  border: 0.1rem solid #58616a;
  text-align: left;
}
.select_layer .select_tit::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  left: auto;
  right: 1.6rem;
  width: 1.6rem;
  height: 1.6rem;
  margin-top: -0.8rem;
  background: var(--color-white) url("../../resources/images/common/bg_select_16.svg") no-repeat 0 0;
}
.select_layer.on .select_tit::after {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
}
.select_layer .select_box {
  position: absolute;
  bottom: 4.6rem;
  width: 100%;
  padding: var(--gap-16);
  color: #8a949e;
  border-radius: 0.6rem;
  border: 0.1rem solid #58616a;
  background-color: var(--color-white);
}
.select_layer .select_box ul > li {
  font-size: var(--font-size-sm);
}
.select_layer .select_box ul > li + li {
  margin-top: var(--gap-5);
}

.inp_radio {
  position: relative;
  display: inline-block;
  margin-right: var(--gap-24);
}
.inp_radio:last-child {
  margin-right: 0;
}
.inp_radio input[type=radio] {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.9rem;
  height: 1.9rem;
  margin-top: 0.3rem;
}
.inp_radio input[type=radio] + label {
  position: relative;
  padding-left: var(--gap-28);
  color: var(--color-darkgray);
  vertical-align: var(--align-t);
  cursor: pointer;
}
.inp_radio input[type=radio] + label::before, .inp_radio input[type=radio] + label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: 50%;
}
.inp_radio input[type=radio] + label::before {
  width: 2rem;
  height: 2rem;
  margin-top: -1rem;
  border: 0.1rem solid var(--color-darkgray);
  background-color: #cdd1d5;
}
.inp_radio input[type=radio]:checked + label::before {
  border: 0.2rem solid var(--color-blue);
  background-color: var(--color-white);
}
.inp_radio input[type=radio]:checked + label::after {
  width: 1rem;
  height: 1rem;
  margin: -0.5rem 0 0 0.5rem;
  border: 0;
  background-color: var(--color-blue);
}

.inp_check {
  position: relative;
  display: inline-block;
  margin-right: var(--gap-55);
}
.inp_check:last-child {
  margin-right: 0;
}
.inp_check input[type=checkbox] {
  position: absolute;
  top: 0.3rem;
  left: 0.1rem;
  width: 1.9rem;
  height: 1.9rem;
}
.inp_check input[type=checkbox] + label {
  position: relative;
  display: inline-block;
  padding-left: var(--gap-28);
  vertical-align: var(--align-t);
  cursor: pointer;
}
.inp_check input[type=checkbox] + label::before, .inp_check input[type=checkbox] + label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: 0.4rem;
}
.inp_check input[type=checkbox] + label::before {
  width: 2rem;
  height: 2rem;
  margin-top: -1rem;
  border: 0.1rem solid #b1b8be;
  background-color: #cdd1d5;
}
.inp_check input[type=checkbox]:checked + label::before {
  border: 0;
  background-color: var(--color-blue);
}
.inp_check input[type=checkbox]:checked + label::after {
  width: 1.2rem;
  height: 1.2rem;
  margin: -0.6rem 0 0 0.4rem;
  border: 0;
  background: url("../../resources/images/common/bg_checkbox.svg") no-repeat 0 0;
}

.form_item {
  display: flex;
  align-items: center;
}
.form_item .inp {
  width: 100%;
  align-items: center;
  position: relative;
}
.form_item .inp input + .btn_reset {
  position: absolute;
  top: 50%;
  right: 1.9rem;
  margin: -1rem 0 0 0;
}
.form_item .inp input:read-only + .btn_reset {
  display: none;
  filter: invert(100%);
}
.form_item .inp input:focus {
  outline-color: var(--color-blue);
}
.form_item .inp input + .request {
  position: absolute;
  top: 50%;
  right: 1.9rem;
  margin: -1rem 0 0 0;
}
.form_item .inp input + .request .time {
  position: relative;
  top: -0.2rem;
  color: #8a949e;
}
.form_item .inp input + .request .btn_reset {
  margin-left: var(--gap-4);
  vertical-align: top;
}
.form_item .inp:has(.btn_reset) > input {
  padding-right: var(--gap-60);
}
.form_item .inp:has(.btn_reset) > input:read-only {
  padding-right: var(--gap-16);
}
.form_item .inp:has(.request) > input {
  padding-right: 8rem;
}
.form_item .inp + button {
  margin-left: var(--gap-15);
}
.form_item .inp + button + button {
  margin-left: var(--gap-15);
}
.form_item .inp + .txt,
.form_item .inp + .btn_search {
  margin-left: var(--gap-14);
}
.form_item .inp + .txt_between {
  margin: 0 var(--gap-7);
}
.form_item .inp + .inp_set,
.form_item .inp + .inp_select {
  margin-left: var(--gap-15);
}
.form_item .inp.error input[type=text],
.form_item .inp.error input[type=password],
.form_item .inp.error input[type=tel] {
  border: 0.2rem solid #de3412;
}
.form_item .inp.error input[type=text]:focus,
.form_item .inp.error input[type=password]:focus,
.form_item .inp.error input[type=tel]:focus {
  outline-color: #de3412;
}
.form_item .inp.error input[type=text]::placeholder,
.form_item .inp.error input[type=password]::placeholder,
.form_item .inp.error input[type=tel]::placeholder {
  color: var(--color-gray) !important;
}
.form_item .inp_set {
  display: flex;
  align-items: center;
}
.form_item .inp_set + .inp_set {
  margin-left: var(--gap-15);
}
.form_item .inp_set.full {
  gap: 0 1.5rem;
}
.form_item .inp_set.full .inp_select,
.form_item .inp_set.full [class^=btn_] {
  margin-left: 0;
}
@media screen and (max-width: 370px) {
  .form_item .inp_set.full {
    flex-direction: column;
  }
  .form_item .inp_set.full .inp,
  .form_item .inp_set.full .inp_select,
  .form_item .inp_set.full [class^=btn_] {
    width: 100% !important;
  }
  .form_item .inp_set.full [class^=btn_] {
    margin: var(--gap-20) 0 0 0;
  }
}
.form_item .inp_set.half {
  gap: 0 1.5rem;
}
.form_item .inp_set.half .inp_select,
.form_item .inp_set.half [class^=btn_] {
  width: 50% !important;
  margin-left: 0;
}
@media screen and (max-width: 370px) {
  .form_item .inp_set.half {
    flex-direction: column;
  }
  .form_item .inp_set.half .inp,
  .form_item .inp_set.half .inp_select,
  .form_item .inp_set.half [class^=btn_] {
    width: 100% !important;
  }
  .form_item .inp_set.half [class^=btn_] {
    margin: var(--gap-20) 0 0 0;
  }
}
.form_item .inp_select {
  width: 100%;
}
.form_item .inp_select + button {
  margin-left: var(--gap-15);
}
.form_item .inp_select + button + button {
  margin-left: var(--gap-15);
}

.board_area .tbl thead th,
.board_area .tbl tbody th {
  height: 5.4rem;
  padding: 0 var(--gap-16);
  font-size: var(--font-size-sm);
  color: var(--color-warblack);
  font-weight: var(--font-weight-bold);
  border-bottom: 0.1rem solid #d6e0eb;
  border-left: 0.1rem solid #d6e0eb;
  background-color: var(--color-lightblue);
}
.board_area .tbl thead th:first-child,
.board_area .tbl tbody th:first-child {
  border-left: 0;
}
.board_area .tbl tbody td {
  height: 5.4rem;
  color: var(--color-gray);
  padding: var(--gap-12) var(--gap-16);
  border-bottom: 0.1rem solid #cdd1d5;
  border-left: 0.1rem solid #d6e0eb;
  background-color: var(--color-white);
  text-align: center;
}
.board_area .tbl tbody td:first-child {
  border-left: 0;
}
.board_area .tbl tbody td > div {
  word-break: break-all;
}
.board_area .tbl.col thead th, .board_area .tbl.col tbody th, .board_area .tbl.col tbody td {
  text-align: left;
  border-left: 0;
}
.board_area .tbl.row tbody td {
  text-align: left;
}
.board_area .board_info {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--gap-24);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
}
.board_area [class^=board_desc][class*=_top] {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: var(--gap-13);
}
.board_area [class^=board_desc][class*=_top] > div {
  flex: 1;
}
.board_area [class^=board_desc][class*=_top] > div:not(.lside) {
  text-align: right;
}
.board_area [class^=board_desc][class*=_bottom] {
  margin-top: var(--gap-24);
}
@media screen and (max-width: 1024px) {
  .board_area .tbl.react {
    border-top: 0.1rem solid var(--color-black);
    border-bottom: 0.1rem solid var(--color-black);
  }
  .board_area .tbl.react colgroup,
  .board_area .tbl.react thead th,
  .board_area .tbl.react tbody th {
    display: none;
  }
  .board_area .tbl.react tbody td {
    display: flex;
    width: 100%;
    height: auto;
    padding: 0.3rem var(--gap-8) 0;
    border: 0;
    text-align: left;
  }
  .board_area .tbl.react tbody td:first-child {
    padding-top: var(--gap-24);
    border-top: 0.1rem solid #cdd1d5;
  }
  .board_area .tbl.react tbody td:last-child {
    padding-bottom: var(--gap-24);
  }
  .board_area .tbl.react tbody td > div {
    flex: 1;
  }
  .board_area .tbl.react tbody td.nodata {
    display: block;
    text-align: center;
  }
  .board_area .tbl.react tbody tr:first-child td {
    border-top: 0;
  }
  .board_area .tbl.react.row tbody td:last-child {
    padding-bottom: 0;
  }
  .board_area .tbl.react.row tbody tr:first-child td:nth-child(2) {
    padding-top: var(--gap-24);
  }
  .board_area .tbl.react.row tbody tr:last-child td:nth-child(2) {
    padding-bottom: var(--gap-24);
  }
  .board_area .tbl.react [data-cell-header]:before {
    content: attr(data-cell-header);
    width: 15rem;
    margin-right: var(--gap-10);
    color: var(--color-black);
    font-weight: var(--font-weight-bold);
  }
  .board_area .tbl.react.size80 [data-cell-header]:before {
    width: 8rem;
  }
}

.form_section + .form_section {
  margin-top: 2.8rem;
}
.form_section .form_tit {
  margin-bottom: var(--gap-10);
}
.form_section .form_tit .tit {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
}
.form_section .form_list {
  padding: var(--gap-20) 0;
  border-top: 0.1rem solid var(--color-black);
}
.form_section .form_list .form-group {
  display: flex;
  width: 100%;
}
.form_section .form_list .form-group + .form-group {
  margin-top: var(--gap-20);
}
.form_section .form_list .form-group .tit,
.form_section .form_list .form-group .item {
  min-height: 4.8rem;
}
.form_section .form_list .form-group .tit {
  width: 20.4rem;
}
.form_section .form_list .form-group .tit > label,
.form_section .form_list .form-group .tit > span {
  display: inline-block;
  padding-top: var(--gap-13);
}
.form_section .form_list .form-group .item {
  flex: 1;
}
.form_section .form_list .form-group .item .cell + .cell {
  margin-top: var(--gap-20);
}
.form_section .form_list .form-group.gap0 .tit,
.form_section .form_list .form-group.gap0 .item {
  min-height: auto;
}
.form_section .form_list .form-group.gap0 .tit > label,
.form_section .form_list .form-group.gap0 .tit > span {
  padding-top: 0;
}
.form_section .form_list .form-group.line {
  padding-top: var(--gap-20);
  border-top: 0.1rem solid #c2c2c2;
}
.form_section .form_list .form-group .email_set,
.form_section .form_list .form-group .request_set {
  display: flex;
  align-items: center;
}
.form_section .form_list.col {
  padding: 0;
  border-top: 0;
}
.form_section .form_list.col .form-group {
  flex-direction: column;
}
.form_section .form_list.col .form-group .tit {
  min-height: auto;
  margin-bottom: var(--gap-8);
  font-size: var(--font-size-sm);
}
.form_section .form_list.col .form-group .tit > label,
.form_section .form_list.col .form-group .tit > span {
  padding-top: 0;
}
.form_section .form_list.col .form-group + .form-group {
  margin-top: var(--gap-24);
}
.form_section .form_list .txt_require:after {
  display: inline-block;
  color: #d63d4a;
  content: "*";
}
.form_section .form_list + .form_choice {
  margin-top: var(--gap-24);
}
.form_section [class^=msg_] {
  position: relative;
  margin-top: var(--gap-8);
  padding-left: var(--gap-10);
  font-size: var(--font-size-xsm);
}
.form_section [class^=msg_]::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "*";
}
.form_section [class^=msg_][class*=_txt] {
  color: #096ab3;
}
.form_section [class^=msg_][class*=_error] {
  color: #bd2c0f;
}
@media screen and (max-width: 1024px) {
  .form_section .form_list .form-group {
    flex-direction: column;
  }
  .form_section .form_list .form-group .tit,
  .form_section .form_list .form-group .item {
    min-height: auto;
  }
  .form_section .form_list .form-group .tit > label,
  .form_section .form_list .form-group .tit > span {
    padding-top: 0;
  }
  .form_section .form_list .form-group .item {
    margin-top: var(--gap-10);
  }
  .form_section .form_list .form-group .radio_set {
    width: 100%;
    text-align: center;
  }
  .form_section .form_list .form-group .email_set {
    flex: 1;
    flex-direction: column;
    margin-top: -2rem;
  }
  .form_section .form_list .form-group .email_set .inp_set,
  .form_section .form_list .form-group .email_set .inp {
    margin: var(--gap-20) 0 0 0;
  }
  .form_section .form_list .form-group .email_set .inp_set .inp {
    margin-top: 0;
  }
  .form_section .form_list .form-group .request_set {
    flex: 1;
  }
}
@media screen and (max-width: 1024px) and (max-width: 370px) {
  .form_section .form_list .form-group .request_set {
    flex-direction: column;
  }
  .form_section .form_list .form-group .request_set [class^=btn_] {
    width: 100%;
    margin: var(--gap-20) 0 0 0;
  }
}
@media screen and (max-width: 1024px) {
  .form_section .form_list .form-group [class^=btn_].full {
    width: 100%;
    margin-left: 0;
  }
  .form_section .form_list.col .form-group .tit {
    margin-bottom: 0;
  }
  .form_section .form_list.col .form-group .item {
    margin-top: var(--gap-8);
  }
  .form_section .form_item .inp,
  .form_section .form_item .inp_set,
  .form_section .form_item .inp_select {
    width: 100% !important;
  }
}

.terms_section .terms_check_all {
  color: var(--color-base);
  font-weight: var(--font-weight-medium);
}
.terms_section .terms_check_all + .terms_list {
  margin: var(--gap-28) 0 var(--gap-20);
}
@media screen and (max-width: 1024px) {
  .terms_section .terms_check_all + .terms_list {
    margin-top: var(--gap-10);
  }
}
.terms_section .terms_list {
  padding-top: var(--gap-13);
  color: #b3b3b3;
  border-top: 0.1rem solid #b1b8be;
}
.terms_section .terms_list > li + li {
  margin-top: var(--gap-10);
}
@media screen and (max-width: 1024px) {
  .terms_section .terms_list {
    padding-top: var(--gap-10);
  }
}
.terms_section .terms_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.terms_section input[type=checkbox] + label {
  padding-left: 3.4rem;
}
.terms_section .txt_red {
  color: #d63d4a;
}

.ly_half {
  display: flex;
  justify-content: space-between;
}
.ly_half > div {
  width: 50%;
}

.list_line > li {
  position: relative;
  padding-left: var(--gap-12);
}
.list_line > li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 0.5rem;
  height: 0.1rem;
  background-color: var(--color-base);
}

.notice_box {
  padding: var(--gap-18) var(--gap-16);
  background-color: #e7f4fe;
  border: 0.1rem solid #d3ebfd;
  border-radius: 0.8rem;
}
@media screen and (max-width: 1024px) {
  .notice_box {
    padding: var(--gap-4) var(--gap-16);
  }
}
.notice_box .tit {
  color: #096ab3;
  font-weight: var(--font-weight-bold);
}
.notice_box .tit + .txt {
  margin: var(--gap-8) 0 0 3.4rem;
}
.notice_box.warning {
  background-color: #fff3db;
  border-color: #ffe0a3;
}

/* layer */
.layerFix {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1001;
}
.layerFix:focus {
  outline: var(--color-white) dotted 0.1rem;
}

.layer_wrap {
  position: relative;
  width: 600px;
  height: 100%;
  padding: var(--gap-24) 0;
  background-color: var(--color-white);
}
.layer_wrap .head {
  height: 4.8rem;
  padding: 0 var(--gap-24) var(--gap-20);
}
.layer_wrap .head .tit {
  color: var(--color-darkblack);
  font-weight: var(--font-weight-regular);
}
.layer_wrap .cont {
  padding: 0 var(--gap-24);
}
.layer_wrap .cont .tit_area {
  text-align: center;
}
.layer_wrap .cont .tit_area .tit {
  display: block;
  margin-bottom: var(--gap-20);
  color: var(--color-black);
  font-size: 2.5rem;
  font-weight: var(--font-weight-semibold);
}
.layer_wrap .cont .alert_msg {
  text-align: center;
}
.layer_wrap .cont .alert_msg .notice {
  position: relative;
  padding-top: 10rem;
}
.layer_wrap .cont .alert_msg .notice::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 8rem;
  height: 8rem;
  margin-left: -4rem;
  background: url("../../resources/images/common/bg_notice.svg") no-repeat 0 0;
}
.layer_wrap .cont .alert_msg .txt {
  margin-top: var(--gap-20);
  color: var(--color-darkgray);
}
.layer_wrap .cont .article + .article {
  margin-top: var(--gap-20);
}
.layer_wrap .foot {
  width: 100%;
  padding: var(--gap-20) var(--gap-24) 0;
}
.layer_wrap .foot .btn_area {
  display: flex;
  justify-content: center;
  gap: 0 1.5rem;
}
.layer_wrap .foot .btn_area [class^=btn_] {
  min-width: 12rem;
}
.layer_wrap .btn_close {
  position: absolute;
  top: 2.4rem;
  right: 2.4rem;
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  padding: 0.4rem;
}
.layer_wrap .btn_close::before, .layer_wrap .btn_close::after {
  position: absolute;
  top: 0.2rem;
  right: 1.2rem;
  width: 0.1rem;
  height: 2rem;
  background-color: #33363d;
  content: "";
}
.layer_wrap .btn_close::before {
  -wetkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.layer_wrap .btn_close::after {
  -wetkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.layer_wrap .layer_scroll {
  overflow: hidden;
  overflow-y: auto;
  height: 384px;
}
.layer_wrap .board_area .tbl thead th,
.layer_wrap .board_area .tbl tbody th,
.layer_wrap .board_area .tbl tbody td {
  height: 3.2rem;
  padding: 0 var(--gap-16);
}
@media screen and (max-width: 1024px) {
  .layer_wrap .board_area .tbl thead th,
  .layer_wrap .board_area .tbl tbody th,
  .layer_wrap .board_area .tbl tbody td {
    height: auto;
    padding: 0.3rem var(--gap-8) 0;
  }
}
.layer_wrap .board_area [class^=board_desc][class*=_top] {
  margin-bottom: var(--gap-10);
  font-size: 1.2rem;
}
.layer_wrap .board_area [class^=board_desc][class*=_bottom] {
  margin-top: var(--gap-20);
}

.layerDim {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  opacity: 0.6;
}

@media screen and (max-width: 1024px) {
  .layerOpen {
    overflow: hidden;
  }
  .layerFix {
    width: calc(100% - 4rem) !important;
    min-width: 28rem;
  }
  .layerFix .layer_wrap {
    width: 100%;
  }
  .layerFix.fullPopup {
    overflow: hidden;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100%;
  }
  .layerFix.fullPopup .layer_wrap .cont {
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    padding-bottom: 13rem;
    -webkit-overflow-scrolling: touch;
  }
  .layerFix.fullPopup .layer_wrap .foot {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: var(--gap-24);
    background-color: var(--color-white);
  }
  .layerFix.fullPopup .layer_wrap .foot .btn_area {
    width: 100%;
  }
  .layerFix.fullPopup .layer_wrap .foot .btn_area > div {
    flex: 1;
    margin: 0;
  }
  .layerFix.fullPopup .layer_wrap .foot .btn_area [class^=btn_] {
    min-width: 100%;
  }
  .layerFix.fullPopup .layer_scroll {
    overflow: auto;
    overflow-y: auto;
    height: auto;
  }
  .layerFix.alertPopup .layer_wrap .foot .btn_area {
    width: 100%;
  }
  .layerFix.alertPopup .layer_wrap .foot .btn_area > div {
    flex: 1;
    margin: 0;
  }
  .layerFix.alertPopup .layer_wrap .foot .btn_area > div [class^=btn_] {
    min-width: 100%;
  }
}
[class^=btn_][class*=_sm], [class^=btn_][class*=_md], [class^=btn_][class*=_xmd], [class^=btn_][class*=_lg], [class^=btn_][class*=_xlg] {
  display: inline-block;
  min-width: 9rem;
  height: 4.8rem;
  padding: 0 1.6rem;
  color: var(--color-white);
  font-size: var(--font-size-md);
  line-height: 4.8rem;
  text-align: center;
  background-color: var(--color-blue);
  border-radius: 0.6rem;
}
[class^=btn_][class*=_sm] {
  height: 3rem;
  line-height: 3rem;
  border-radius: 5rem;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semibold);
}
[class^=btn_][class*=_md] {
  height: 3.3rem;
  line-height: 3.3rem;
}
[class^=btn_][class*=_xmd] {
  height: 4rem;
  line-height: 4rem;
  font-size: var(--font-size-sm);
}
[class^=btn_][class*=_xlg] {
  height: 5.2rem;
  line-height: 5.2rem;
}
[class^=btn_][class*=_txt] {
  color: var(--color-gray);
}
[class^=btn_][class*=_underline] {
  color: var(--color-gray);
  text-decoration: underline;
}
[class^=btn_][class*=_secondary] {
  color: var(--color-darkblue);
  background-color: var(--color-skyblue);
  border: 0.1rem solid var(--color-blue);
}
[class^=btn_][class*=_outline] {
  color: var(--color-darkblack);
  background-color: var(--color-white);
  border: 0.1rem solid var(--color-black);
}
[class^=btn_][class*=_border] {
  color: var(--color-warblue);
  border: 0.1rem solid var(--color-warblue);
  border-radius: 0;
  background-color: var(--color-white);
}
[class^=btn_][class*=_border].radius {
  border-radius: 0.6rem;
}
[class^=btn_][class*=_outline][class*=_sm], [class^=btn_][class*=_border][class*=_sm] {
  line-height: 2.8rem;
}
[class^=btn_][class*=_outline][class*=_md], [class^=btn_][class*=_border][class*=_md] {
  line-height: 3rem;
}
[class^=btn_][class*=_outline][class*=_xmd], [class^=btn_][class*=_border][class*=_xmd] {
  line-height: 3.8rem;
}
[class^=btn_][class*=_outline][class*=_lg], [class^=btn_][class*=_border][class*=_lg] {
  line-height: 4.6rem;
}
[class^=btn_][class*=_outline][class*=_xlg], [class^=btn_][class*=_border][class*=_xlg] {
  line-height: 5rem;
}
[class^=btn_] .ico_outlink {
  margin-left: var(--gap-4);
}
[class^=btn_] .ico_arrow {
  margin-left: var(--gap-7);
}
[class^=btn_].auto {
  min-width: auto;
  width: 100%;
}

.page_btn_area {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: var(--gap-24);
}
.page_btn_area > div {
  flex: 1;
}
.page_btn_area > div:not(.lside) {
  text-align: right;
}
@media screen and (max-width: 1024px) {
  .page_btn_area button {
    width: 100%;
  }
  .page_btn_area .lside > button,
  .page_btn_area .lside > a {
    border-radius: 0.6rem 0 0 0.6rem;
  }
  .page_btn_area .rside > button,
  .page_btn_area .rside > a {
    border-radius: 0 0.6rem 0.6rem 0;
  }
  .page_btn_area:not(:has(.lside)) button,
  .page_btn_area:not(:has(.lside)) a {
    border-radius: 0.6rem;
  }
}

.bottom_btn_area {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 8rem;
}
.bottom_btn_area > div {
  margin: 0 0.75rem;
}
.bottom_btn_area > div [class^=btn_] {
  min-width: 25.1rem;
}
@media screen and (max-width: 1024px) {
  .bottom_btn_area {
    margin-top: var(--gap-30);
    gap: 0 1.5rem;
  }
  .bottom_btn_area > div {
    flex: 1;
    margin: 0;
  }
  .bottom_btn_area > div [class^=btn_] {
    width: 100%;
    min-width: auto;
  }
}

.btn_reset {
  width: 2rem;
  height: 2rem;
  background: url("../../resources/images/icon/ico_reset.png") no-repeat 0 0;
  background-size: contain;
}

.btn_search {
  width: 2.4rem;
  height: 2.4rem;
  background: url("../../resources/images/icon/ico_search.svg") no-repeat 0 0;
}

.btn_allsearch,
.btn_login,
.btn_join {
  position: relative;
  padding-left: 2.8rem;
  color: var(--color-lightblack);
  font-weight: var(--font-weight-bold);
}
.btn_allsearch::before,
.btn_login::before,
.btn_join::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 2rem;
  height: 2rem;
  margin-top: -1.1rem;
}

.btn_allsearch::before {
  background: url("../../resources/images/icon/ico_allsearch.svg") no-repeat 0 0;
}

.btn_login::before {
  background: url("../../resources/images/icon/ico_login.svg") no-repeat 0 0;
}

.btn_join::before {
  background: url("../../resources/images/icon/ico_join.svg") no-repeat 0 0;
}

.login_wrap .page_title,
.join_wrap .page_title {
  margin: 6.5rem 0 4.3rem;
  text-align: center;
}
.login_wrap .page_title .tit,
.join_wrap .page_title .tit {
  font-size: 3.5rem;
}
@media screen and (max-width: 1024px) {
  .login_wrap .page_title,
  .join_wrap .page_title {
    margin-top: 0;
  }
  .login_wrap .page_title .tit,
  .join_wrap .page_title .tit {
    font-size: 2.8rem;
  }
}
.login_wrap .progress-bar,
.join_wrap .progress-bar {
  margin: 0 0 var(--gap-30) var(--gap-10);
}
.login_wrap .login_section,
.login_wrap .join_section,
.join_wrap .login_section,
.join_wrap .join_section {
  width: 51.8rem;
  margin: 7.5rem auto 0;
}
.login_wrap .login_section .bottom_btn_area,
.login_wrap .join_section .bottom_btn_area,
.join_wrap .login_section .bottom_btn_area,
.join_wrap .join_section .bottom_btn_area {
  margin-top: var(--gap-20);
}
.login_wrap .login_section .bottom_btn_area > [class^=btn_],
.login_wrap .join_section .bottom_btn_area > [class^=btn_],
.join_wrap .login_section .bottom_btn_area > [class^=btn_],
.join_wrap .join_section .bottom_btn_area > [class^=btn_] {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .login_wrap .login_section,
  .login_wrap .join_section,
  .join_wrap .login_section,
  .join_wrap .join_section {
    width: auto;
  }
  .login_wrap .login_section .blue_box,
  .login_wrap .login_section .bottom_btn_area,
  .login_wrap .join_section .blue_box,
  .login_wrap .join_section .bottom_btn_area,
  .join_wrap .login_section .blue_box,
  .join_wrap .login_section .bottom_btn_area,
  .join_wrap .join_section .blue_box,
  .join_wrap .join_section .bottom_btn_area {
    margin-top: var(--gap-50);
  }
}

.login_wrap .page_title {
  margin-bottom: var(--gap-48);
}
@media screen and (max-width: 1024px) {
  .login_wrap .page_title {
    margin-bottom: 3.2rem;
  }
}
.login_wrap .login_section {
  margin-top: 0;
}
.login_wrap .login_section .bottom_btn_area {
  margin-top: var(--gap-24);
}
.login_wrap .login_notice {
  padding: 2.2rem var(--gap-24) var(--gap-25);
  border: 0.1rem solid #d6e0eb;
  border-radius: 1.2rem;
  background-color: var(--color-lightblue);
  text-align: center;
}
.login_wrap .login_notice .tit {
  color: #052b57;
  font-weight: var(--font-weight-bold);
}
.login_wrap .login_notice .tit + .txt {
  margin-top: var(--gap-20);
}
.login_wrap .login_notice .txt {
  color: var(--color-gray);
  text-align: left;
}
.login_wrap .login_notice [class^=btn_] {
  margin-top: var(--gap-20);
  color: var(--color-base);
  border: 0.1rem solid #58616a;
  background: 0;
}
.login_wrap .login_notice + .form_section {
  margin-top: 7rem;
}
@media screen and (max-width: 1024px) {
  .login_wrap .login_notice + .form_section {
    margin-top: var(--gap-50);
  }
}
.login_wrap .login_btn {
  display: flex;
  justify-content: center;
  gap: 0 2.4rem;
  margin-top: 2.7rem;
}
.login_wrap .login_btn > a + a {
  position: relative;
}
.login_wrap .login_btn > a + a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  left: -1.2rem;
  width: 0.1rem;
  height: 1.6rem;
  margin-top: -0.8rem;
  background-color: #cdd1d5;
}
.login_wrap .txt_notify {
  margin-top: 6.5rem;
  font-weight: var(--font-weight-semibold);
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .login_wrap .txt_notify {
    margin-top: var(--gap-40);
  }
}

.join_wrap .request_area {
  display: flex;
  justify-content: center;
  gap: 0 1.2rem;
  padding: 3.8rem 0 9.2rem;
}
.join_wrap .request_area > button {
  width: 13rem;
  height: 12.2rem;
  padding: var(--gap-18) var(--gap-7);
  color: var(--color-warblue);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  border-radius: 1rem;
  border: 0.1rem solid var(--color-warblue);
}
.join_wrap .request_area > button [class^=ico_] {
  display: block;
  width: 4rem;
  height: 4rem;
  margin: var(--gap-20) auto 0;
}
.join_wrap .request_area > button .ico_request1 {
  background: url("../../resources/images/icon/ico_request01.svg") no-repeat 0 0;
}
.join_wrap .request_area > button .ico_request2 {
  background: url("../../resources/images/icon/ico_request02.svg") no-repeat 0 0;
}
@media screen and (max-width: 1024px) {
  .join_wrap .request_area {
    padding: 0;
  }
}
.join_wrap .completion_area {
  position: relative;
  margin-bottom: 6.8rem;
  padding-top: 12.4rem;
  text-align: center;
}
.join_wrap .completion_area .msg {
  font-size: var(--font-size-xlg);
  font-weight: var(--font-weight-semibold);
}
.join_wrap .completion_area .msg + .desc {
  margin-top: 3.8rem;
}
.join_wrap .completion_area .desc {
  font-size: 2rem;
}
@media screen and (max-width: 1024px) {
  .join_wrap .completion_area {
    margin-bottom: 0;
    padding-top: 11.4rem;
  }
  .join_wrap .completion_area .msg + .desc {
    margin-top: var(--gap-50);
  }
}

.license_process > ol {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-24);
}
.license_process > ol > li {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: calc(25% - var(--gap-24));
  height: 5rem;
  padding: 0 var(--gap-16);
  color: #131416;
  font-weight: var(--font-weight-bold);
  text-align: center;
  background-color: var(--color-lightblue);
  align-items: center;
}
.license_process > ol > li:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  left: auto;
  right: -2.4rem;
  width: 2.4rem;
  height: 2.4rem;
  margin-top: -1.2rem;
  background: url("../../resources/images/common/bg_arrow_right.png") no-repeat 0 0;
  background-size: contain;
}
.license_process > ol > li:last-child:after {
  display: none;
}
@media screen and (max-width: 1024px) {
  .license_process {
    padding-top: var(--gap-25);
  }
  .license_process > ol {
    gap: 5.4rem;
  }
  .license_process > ol > li {
    width: 100%;
  }
  .license_process > ol > li:after {
    top: auto;
    right: auto;
    bottom: -3.9rem;
    transform: rotate(90deg);
  }
}

.license_term > ol {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-24);
}
.license_term > ol > li {
  position: relative;
  width: calc(25% - var(--gap-24));
  padding-bottom: var(--gap-6);
  text-align: center;
  border-bottom: 0.1rem solid #cdd1d5;
}
.license_term > ol > li > strong {
  display: block;
  padding: var(--gap-5) var(--gap-16);
  margin-bottom: 0.6rem;
  font-size: var(--font-size-sm);
  background-color: #eef2f7;
}
.license_term > ol > li:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  left: auto;
  right: -2.4rem;
  width: 2.4rem;
  height: 2.4rem;
  margin-top: -1.2rem;
  background: url("../../resources/images/common/bg_arrow_right.png") no-repeat 0 0;
  background-size: contain;
}
.license_term > ol > li:last-child:after {
  display: none;
}
@media screen and (max-width: 1024px) {
  .license_term > ol {
    gap: 5.4rem;
  }
  .license_term > ol > li {
    width: 100%;
  }
  .license_term > ol > li:after {
    top: auto;
    right: auto;
    left: 50%;
    bottom: -3.9rem;
    margin-left: -1.2rem;
    transform: rotate(90deg);
  }
}

.terms_wrap .tit {
  display: block;
  margin: 3.2rem 0 1.3rem;
  color: var(--color-black);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
}
.terms_wrap .tit:first-child {
  margin-top: 0;
}
.terms_wrap ul {
  margin-top: var(--gap-5);
}
.terms_wrap ul + ul {
  margin-top: 0;
}
.terms_wrap ul > li > ul {
  margin: 0.8rem 0 0.8rem 0.4rem;
}
.terms_wrap .terms_info {
  margin-top: var(--gap-20);
}