@charset "utf-8";
#guide_wrap {
    padding: 20px;
    /* min-width: 120rem; */
}
.guide_gnb {
    margin-bottom: 2rem;
}
.guide_gnb ul {
    display: flex;
    gap: 0 2rem;
}
.guide_gnb ul li a {
    color: #4c87f6;
}
.h1 {
    font-size: 30px;
    margin-bottom: 20px;
}
.h2 {
    font-size: 26px;
    margin-bottom: 10px;
}
.h3 {
    font-size: 23px;
    margin-bottom: 10px;
}
.h4 {
    font-size: 21px;
    margin-bottom: 10px;
}
pre code.hljs {
    font-size: 13px;
    letter-spacing: -0.06rem;
}
.section + .section {
    margin-top: 5rem;
    padding-top: 3rem;
    border-top: 4px solid lightslategray;
}
.section .inner {
    padding: 1rem;
}
.section > .inner > .box {
    position: relative;
    padding: 3rem;
    border: 0.1rem solid #cdd1d5;
    border-radius: 0.8rem;
}
.section .box[data-content-title] {
    margin-top: 2rem;
}
.section > .inner > .box:after {
    position: absolute;
    top: 0;
    left: 3rem;
    padding: 0 1rem;
    background: white;
    font-size: 1.5rem;
    font-weight: 700;
    transform: translateY(-50%);
    content: attr(data-content-title);
}
.section > .inner > .box + .box {
    margin-top: 3rem;
}
.article + .article {
    margin-top: 4rem;
}
.article.html_code {
    margin-top: 3rem;
}
.article.html_code .btn {
    text-align: right;
}
.article.html_code .boxing {
    margin-top: 1rem;
}
.list_guide_demical {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    li {
        list-style: decimal inside;
    }
}
@media only screen and (max-width: 768px) {
    #guide_wrap {
        min-width: 100%;
    }
    .section > .inner {
        padding: 0;
    }
    .section > .inner > .box {
        padding: 3rem 1.5rem;
    }
}
.btn_code_toggle {
    background-color: blueviolet !important;
}
