@charset "UTF-8";

// btn
[class^="btn_"] {
    &[class*="_sm"],
    &[class*="_md"],
    &[class*="_xmd"],
    &[class*="_lg"],
    &[class*="_xlg"] {
        @include btn-default; // primary
    }
    &[class*="_sm"] {
        height: 3rem;
        line-height: 3rem;
        border-radius: 5rem;
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-semibold);
    }
    &[class*="_md"] {
        height: 3.3rem;
        line-height: 3.3rem;
    }
    &[class*="_xmd"] {
        height: 4rem;
        line-height: 4rem;
        font-size: var(--font-size-sm);
    }
    &[class*="_xlg"] {
        height: 5.2rem;
        line-height: 5.2rem;
    }
    &[class*="_txt"] {
        color: var(--color-gray);
    }
    &[class*="_underline"] {
        color: var(--color-gray);
        text-decoration: underline;
    }
    &[class*="_secondary"] {
        color: var(--color-darkblue);
        background-color: var(--color-skyblue);
        border: $border var(--color-blue);
    }
    // &[class*="_tertiary"] {
    //     color: var(--color-darkblue);
    //     border: $border var(--color-blue);
    //     background-color: #b1cefb;
    // }
    &[class*="_outline"] {
        color: var(--color-darkblack);
        background-color: var(--color-white);
        border: $border var(--color-black);
    }
    &[class*="_border"] {
        color: var(--color-warblue);
        border: $border var(--color-warblue);
        border-radius: 0;
        background-color: var(--color-white);
    }
    &[class*="_outline"],
    &[class*="_border"] {
        &[class*="_sm"] {
            line-height: 2.8rem;
        }
        &[class*="_md"] {
            line-height: 3rem;
        }
        &[class*="_xmd"] {
            line-height: 3.8rem;
        }
        &[class*="_lg"] {
            line-height: 4.6rem;
        }
        &[class*="_xlg"] {
            line-height: 5rem;
        }
    }
    // &[class*="_link"] {
    // }
    .ico_outlink {
        margin-left: var(--gap-4);
    }
    .ico_arrow {
        margin-left: var(--gap-7);
    }
    &.auto {
        min-width: auto;
        width: 100%;
    }
}

.page_btn_area {
    @include flex-between;
    width: 100%;
    margin-top: var(--gap-24);
    > div {
        flex: 1;
        &:not(.lside) {
            text-align: right;
        }
    }

    @include mobile {
        button {
            width: 100%;
        }
        .lside > button,
        .lside > a {
            border-radius: 0.6rem 0 0 0.6rem;
        }
        .rside > button,
        .rside > a {
            border-radius: 0 0.6rem 0.6rem 0;
        }
        &:not(:has(.lside)) {
            button,
            a {
                border-radius: 0.6rem;
            }
        }
    }
}

.bottom_btn_area {
    @include flex-center;
    width: 100%;
    margin-top: 8rem;
    > div {
        margin: 0 0.75rem;
        [class^="btn_"] {
            min-width: 25.1rem;
        }
    }

    @include mobile {
        margin-top: var(--gap-30);
        gap: 0 1.5rem;
        > div {
            flex: 1;
            margin: 0;
            [class^="btn_"] {
                width: 100%;
                min-width: auto;
            }
        }
        // .lside > button,
        // .lside > a {
        //     border-radius: 0.6rem 0 0 0.6rem;
        // }
        // .rside > button,
        // .rside > a {
        //     border-radius: 0 0.6rem 0.6rem 0;
        // }
        // &:not(:has(.lside)) {
        //     button,
        //     a {
        //         border-radius: 0.6rem;
        //     }
        // }
    }
}

.btn_reset {
    width: 2rem;
    height: 2rem;
    background: url($url-img-icon + "ico_reset.png") no-repeat 0 0;
    background-size: contain;
}

.btn_search {
    width: 2.4rem;
    height: 2.4rem;
    background: url($url-img-icon + "ico_search.svg") no-repeat 0 0;
}

.btn_allsearch,
.btn_login,
.btn_join {
    position: relative;
    padding-left: 2.8rem;
    color: var(--color-lightblack);
    font-weight: var(--font-weight-bold);
    &::before {
        @include pseudo-selector;
        width: 2rem;
        height: 2rem;
        margin-top: -1.1rem;
    }
}

@include btn-bgtype;
