@charset "UTF-8";

// common
.skipTo {
    overflow: hidden;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0.1rem;
    height: 0.1rem;
    background-color: var(--color-black);
    text-align: center;
}
.skipTo:focus {
    position: relative;
    width: 100%;
    height: auto;
    padding: var(--gap-10);
    color: var(--color-white);
}
.hidden {
    position: absolute;
    width: 0.1rem;
    height: 0.1rem;
    padding: 0;
    margin: -0.1rem;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
.pc_only {
    display: $block;
}
.mo_only {
    display: $none;
}
@include mobile {
    .pc_only {
        display: $none;
    }
    .mo_only {
        display: $block;
    }
}

// gap
.gap_mt0 {
    margin-top: 0 !important;
}
// .gap_mt14 {
//     margin-top: var(--gap-14);
// }
// .gap_mt26 {
//     margin-top: var(--gap-26);
// }
// .gap_pt14 {
//     padding-top: var(--gap-14);
// }
.size_190 {
    width: 19rem !important;
}
.size_200 {
    width: 20rem !important;
}
.size_289 {
    width: 28.9rem !important;
}
.size_300 {
    width: 30rem !important;
}

// breadcrumb
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    font-size: var(--font-size-sm);
    margin-bottom: var(--gap-50);
    > li {
        position: relative;
        &:first-child::before,
        &::after {
            display: inline-block;
            width: 1.6rem;
            height: 1.6rem;
            margin-top: -0.3rem;
            vertical-align: var(--align-m);
            content: "";
        }
        &:first-child::before {
            margin-right: var(--gap-7);
            background: url($url-img-icon + "ico_home.svg") no-repeat 0 50%;
        }
        &::after {
            margin: -0.2rem var(--gap-4) 0 var(--gap-4);
            background: url($url-img-common + "bg_arrow.svg") no-repeat 0 50%;
            background-size: contain;
            transform: rotate(-90deg);
        }
        &:last-child::after {
            display: none;
        }
    }
}

// page tit
.page_title {
    margin-bottom: var(--gap-50);
    .tit {
        font-size: var(--font-size-xlg);
        font-weight: var(--font-weight-semibold);
    }
}

.tit_area {
    margin-bottom: var(--gap-24);
    .tit {
        font-size: var(--font-size-lg);
    }
    .desc {
        margin-top: var(--gap-24);
    }
}

// progress-bar
.progress-bar {
    @include flex-center;
    margin: var(--gap-24) 0 7rem var(--gap-10);
    > div {
        position: relative;
        width: 11rem;
        // flex: 1;
        // padding: 0.9rem 0;
        &:last-child {
            flex: 0;
            .step {
                border: 0;
                &::before {
                    top: -0.9rem;
                }
            }
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -1rem;
            width: 2rem;
            height: 2rem;
            background-color: var(--color-lightgray);
            border: $border #cdd1d5;
            border-radius: 50%;
        }
        &.completion {
            .step {
                border-color: var(--color-darkgray);
            }
            &::before {
                background-color: var(--color-darkgray);
                border-color: var(--color-darkgray);
            }
            &::after {
                content: "";
                position: absolute;
                top: 0.5rem;
                left: -0.5rem;
                width: 1rem;
                height: 0.618rem;
                border-left: 0.2rem solid var(--color-white);
                border-bottom: 0.2rem solid var(--color-white);
                transform: rotate(315deg);
            }
        }
        &.on {
            &::before {
                background-color: var(--color-blue);
                border: 0;
            }
            &::after {
                content: "";
                position: absolute;
                top: 0.3rem;
                left: -0.7rem;
                width: 1.4rem;
                height: 1.4rem;
                border: 0.2rem solid var(--color-white);
                border-radius: 50%;
            }
        }
    }
    .step {
        display: block;
        margin: 0.9rem 0 0 -1rem;
        padding-top: var(--gap-17);
        color: var(--color-gray);
        font-size: var(--font-size-xsm);
        border-top: 0.2rem solid #cdd1d5;
    }
    strong {
        display: block;
        margin: 0.2rem 0 0 -1rem;
        font-size: var(--font-size-sm);
    }
    @include mobile {
        @include flex-between;
        width: 23.8rem;
        margin: var(--gap-48) auto !important;
        > div {
            flex: 1;
            width: auto;
            padding: 0.9rem 0;
            &:last-child {
                flex: 0;
            }
        }
        .step {
            width: auto;
            padding: 0;
            margin: 0;
            > span {
                display: $none;
            }
        }
        strong {
            display: $none;
        }
    }
}

// ico
[class^="ico_"] {
    &[class*="_outlink"],
    &[class*="_arrow"],
    &[class*="_mark"],
    &[class*="_completion"] {
        position: relative;
        top: -0.1rem;
        display: inline-block;
        vertical-align: var(--align-m);
    }
    // 변수처리할것 (mixin btn-bgtype 참고)
    &[class*="_outlink"] {
        width: 2.4rem;
        height: 2.4rem;
        background: url($url-img-icon + "ico_outlink.svg") no-repeat 0 50%;
    }
    &[class*="_arrow"] {
        width: 1.6rem;
        height: 0.9rem;
        background: url($url-img-icon + "ico_arrow.svg") no-repeat 0 50%;
    }
    &[class*="_mark"] {
        width: 2rem;
        height: 2rem;
        background: url($url-img-icon + "ico_mark.svg") no-repeat 0 50%;
    }
    &[class*="_completion"] {
        position: absolute;
        top: 0;
        left: 50%;
        width: 6.4rem;
        height: 6.4rem;
        margin-left: -3.2rem;
        background: url($url-img-icon + "ico_completion.svg") no-repeat 0 50%;
    }

    &[class*="_txt"] {
        position: relative;
        [class^="ico_"] {
            position: absolute;
            top: 50%;
            left: 0;
        }
        &:has([class*="_mark"]) {
            padding-left: 3rem;
            [class^="ico_"] {
                margin-top: -1rem;
            }
        }
    }
}

// form
input[type="text"],
input[type="password"],
input[type="tel"] {
    width: 100%;
    height: 4.8rem;
    padding: 0 var(--gap-16);
    border: $border #58616a;
    border-radius: 0.6rem;
    background-color: var(--color-white);
    &:read-only {
        color: var(--color-darkgray);
        border-color: #b1b8be;
        background-color: #cdd1d5;
    }
    &::placeholder {
        color: #8a949e !important;
    }
}
select {
    width: 100%;
    height: 4.8rem;
    padding: 0 var(--gap-55) 0 var(--gap-16);
    border: $border #58616a;
    background: var(--color-white) url($url-img-common + "bg_select.svg") no-repeat right var(--gap-16) center;
    appearance: none;
    -webkit-appearance: none;
    &.round {
        height: 4rem;
        padding-right: var(--gap-40);
        color: #8a949e;
        font-size: var(--font-size-sm);
        border-radius: 0.6rem;
        border: $border #58616a;
        background: var(--color-white) url($url-img-common + "bg_select_16.svg") no-repeat right var(--gap-16) center;
    }
}
.select_layer {
    position: relative;
    width: 100%;
    .select_tit {
        position: relative;
        width: 100%;
        height: 4rem;
        padding: 0 var(--gap-40) 0 var(--gap-16);
        color: #8a949e;
        font-size: var(--font-size-sm);
        border-radius: 0.6rem;
        border: $border #58616a;
        text-align: left;
        &::after {
            @include pseudo-selector;
            left: auto;
            right: 1.6rem;
            width: 1.6rem;
            height: 1.6rem;
            margin-top: -0.8rem;
            background: var(--color-white) url($url-img-common + "bg_select_16.svg") no-repeat 0 0;
        }
    }
    &.on {
        .select_tit {
            &::after {
                transform: rotate(-180deg);
                -webkit-transform: rotate(-180deg);
            }
        }
    }
    .select_box {
        position: absolute;
        bottom: 4.6rem;
        width: 100%;
        padding: var(--gap-16);
        color: #8a949e;
        border-radius: 0.6rem;
        border: $border #58616a;
        background-color: var(--color-white);
        ul {
            > li {
                font-size: var(--font-size-sm);
                + li {
                    margin-top: var(--gap-5);
                }
            }
        }
    }
}
.inp_radio {
    position: relative;
    display: inline-block;
    margin-right: var(--gap-24);
    &:last-child {
        margin-right: 0;
    }
    input[type="radio"] {
        position: absolute;
        top: 50%;
        left: 0.1rem;
        width: 0.5rem;
        height: 0.5rem;
        margin-top: -0.5rem;
        + label {
            position: relative;
            padding-left: var(--gap-28);
            color: var(--color-darkgray);
            vertical-align: var(--align-t);
            cursor: pointer;
            &::before,
            &::after {
                @include pseudo-selector;
                border-radius: 50%;
            }
            &::before {
                width: 2rem;
                height: 2rem;
                margin-top: -1rem;
                border: $border var(--color-darkgray);
                background-color: #cdd1d5;
            }
        }
        &:checked {
            + label {
                &::before {
                    border: 0.2rem solid var(--color-blue);
                    background-color: var(--color-white);
                }
                &::after {
                    width: 1rem;
                    height: 1rem;
                    margin: -0.5rem 0 0 0.5rem;
                    border: 0;
                    background-color: var(--color-blue);
                }
            }
        }
    }
}
.inp_check {
    position: relative;
    display: inline-block;
    margin-right: var(--gap-55);
    &:last-child {
        margin-right: 0;
    }
    input[type="checkbox"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        + label {
            position: relative;
            display: inline-block;
            padding-left: var(--gap-28);
            vertical-align: var(--align-t);
            cursor: pointer;
            &::before,
            &::after {
                @include pseudo-selector;
                border-radius: 0.4rem;
            }
            &::before {
                width: 2rem;
                height: 2rem;
                margin-top: -1rem;
                border: $border #b1b8be;
                background-color: #cdd1d5;
            }
        }
        &:checked {
            + label {
                &::before {
                    border: 0;
                    background-color: var(--color-blue);
                }
                &::after {
                    width: 1.2rem;
                    height: 1.2rem;
                    margin: -0.6rem 0 0 0.4rem;
                    border: 0;
                    background: url($url-img-common + "bg_checkbox.svg") no-repeat 0 0;
                }
            }
        }
    }
}
.form_item {
    @include flex-aligncenter;
    .inp {
        width: 100%;
        align-items: center;
        position: relative;
        input {
            + .btn_reset {
                position: absolute;
                top: 50%;
                right: 1.9rem;
                margin: -1rem 0 0 0;
            }
            &:read-only {
                + .btn_reset {
                    display: $none;
                    filter: invert(100%);
                }
            }
            &:focus {
                outline-color: var(--color-blue);
            }
            + .request {
                position: absolute;
                top: 50%;
                right: 1.9rem;
                margin: -1rem 0 0 0;
                .time {
                    position: relative;
                    top: -0.2rem;
                    color: #8a949e;
                }
                .btn_reset {
                    margin-left: var(--gap-4);
                    vertical-align: top;
                }
            }
        }
        &:has(.btn_reset) {
            > input {
                padding-right: var(--gap-60);
                &:read-only {
                    padding-right: var(--gap-16);
                }
            }
        }
        &:has(.request) {
            > input {
                padding-right: 8rem;
            }
        }
        + button {
            margin-left: var(--gap-15);
            + button {
                margin-left: var(--gap-15);
            }
        }
        + .txt,
        + .btn_search {
            margin-left: var(--gap-14);
        }
        + .txt_between {
            margin: 0 var(--gap-7);
        }
        + .inp_set,
        + .inp_select {
            margin-left: var(--gap-15);
        }
        &.error {
            input[type="text"],
            input[type="password"],
            input[type="tel"] {
                border: 0.2rem solid #de3412;
                &:focus {
                    outline-color: #de3412;
                }
                &::placeholder {
                    color: var(--color-gray) !important;
                }
            }
        }
    }
    .inp_set {
        @include flex-aligncenter;
        + .inp_set {
            margin-left: var(--gap-15);
        }
        &.full {
            gap: 0 1.5rem;
            .inp_select,
            [class^="btn_"] {
                margin-left: 0;
            }
            @include sm-mobile {
                flex-direction: column;
                .inp,
                .inp_select,
                [class^="btn_"] {
                    width: 100% !important;
                }
                [class^="btn_"] {
                    margin: var(--gap-20) 0 0 0;
                }
            }
        }
        &.half {
            gap: 0 1.5rem;
            .inp_select,
            [class^="btn_"] {
                width: 50% !important;
                margin-left: 0;
            }
            @include sm-mobile {
                flex-direction: column;
                .inp,
                .inp_select,
                [class^="btn_"] {
                    width: 100% !important;
                }
                [class^="btn_"] {
                    margin: var(--gap-20) 0 0 0;
                }
            }
        }
    }
    .inp_select {
        width: 100%;
        + button {
            margin-left: var(--gap-15);
            + button {
                margin-left: var(--gap-15);
            }
        }
    }
}

// board
.board_area {
    .tbl {
        thead th,
        tbody th {
            @include tbl-heading;
            &:first-child {
                border-left: 0;
            }
        }
        tbody td {
            @include tbl-body;
            &:first-child {
                border-left: 0;
            }
        }
        &.col thead th,
        &.col tbody th,
        &.col tbody td {
            text-align: left;
            border-left: 0;
        }
        &.row tbody td {
            text-align: left;
        }
    }
    .board_info {
        @include flex-between;
        margin-bottom: var(--gap-24);
        font-size: var(--font-size-lg);
        font-weight: var(--font-weight-bold);
    }
    [class^="board_desc"] {
        &[class*="_top"] {
            margin-bottom: var(--gap-13);
        }
        &[class*="_bottom"] {
            margin-top: var(--gap-24);
        }
    }
    @include mobile {
        // board
        .tbl.react {
            border-top: $border var(--color-black);
            border-bottom: $border var(--color-black);
            colgroup,
            thead th,
            tbody th {
                display: $none;
            }
            tbody td {
                @include mo-tbl-body;
                &:first-child {
                    padding-top: var(--gap-24);
                    border-top: $border #cdd1d5;
                }
                &:last-child {
                    padding-bottom: var(--gap-24);
                }
                > div {
                    flex: 1;
                }
                &.nodata {
                    display: block;
                    text-align: center;
                }
            }
            tbody tr:first-child {
                td {
                    border-top: 0;
                }
            }
            &.row {
                tbody {
                    td {
                        &:last-child {
                            padding-bottom: 0;
                        }
                    }
                    tr:first-child {
                        td:nth-child(2) {
                            padding-top: var(--gap-24);
                        }
                    }
                    tr:last-child {
                        td:nth-child(2) {
                            padding-bottom: var(--gap-24);
                        }
                    }
                }
            }
            [data-cell-header]:before {
                @include data-cell-header;
            }
            &.size80 [data-cell-header]:before {
                width: 8rem;
            }
        }
    }
}
.form_section {
    .form_tit {
        margin-bottom: var(--gap-10);
        .tit {
            font-size: var(--font-size-md);
            font-weight: var(--font-weight-regular);
        }
    }
    .form_list {
        padding: var(--gap-20) 0;
        border-top: $border var(--color-black);
        .form-group {
            display: flex;
            width: 100%;
            + .form-group {
                margin-top: var(--gap-20);
            }
            .tit,
            .item {
                min-height: 4.8rem;
            }
            .tit {
                width: 20.4rem;
                > label,
                > span {
                    display: inline-block;
                    padding-top: var(--gap-13);
                }
            }
            .item {
                flex: 1;
                .cell {
                    + .cell {
                        margin-top: var(--gap-20);
                    }
                }
            }
            &.gap0 {
                .tit,
                .item {
                    min-height: auto;
                }
                .tit {
                    > label,
                    > span {
                        padding-top: 0;
                    }
                }
            }
            &.line {
                padding-top: var(--gap-20);
                border-top: $border #c2c2c2;
            }
            .email_set,
            .request_set {
                @include flex-aligncenter;
                // gap: 0 1.5rem;
            }
        }
        .txt_require:after {
            display: inline-block;
            color: #d63d4a;
            content: "*";
        }
    }
    [class^="msg_"] {
        position: relative;
        margin-top: var(--gap-8);
        padding-left: var(--gap-10);
        font-size: var(--font-size-xsm);
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            content: "*";
        }
        &[class*="_txt"] {
            color: #096ab3;
        }
        &[class*="_error"] {
            color: #bd2c0f;
        }
    }
    + .form_section {
        margin-top: 2.8rem;
    }
    @include mobile {
        .form_list {
            .form-group {
                flex-direction: column;
                .tit,
                .item {
                    min-height: auto;
                }
                .tit {
                    > label,
                    > span {
                        padding-top: 0;
                    }
                }
                .item {
                    margin-top: var(--gap-10);
                }
                .radio_set {
                    width: 100%;
                    text-align: center;
                }
                .email_set {
                    flex: 1;
                    flex-direction: column;
                    margin-top: -2rem;
                    .inp_set,
                    .inp {
                        margin: var(--gap-20) 0 0 0;
                    }
                    .inp_set {
                        .inp {
                            margin-top: 0;
                        }
                    }
                }
                .request_set {
                    flex: 1;
                    @include sm-mobile {
                        flex-direction: column;
                        [class^="btn_"] {
                            width: 100%;
                            margin: var(--gap-20) 0 0 0;
                        }
                    }
                }
                [class^="btn_"] {
                    &.full {
                        width: 100%;
                        margin-left: 0;
                    }
                }
            }
        }
        .form_item {
            .inp,
            .inp_set,
            .inp_select {
                width: 100% !important;
            }
        }
    }
}
.terms_section {
    .terms_check_all {
        color: var(--color-base);
        font-weight: var(--font-weight-medium);
        + .terms_list {
            margin-top: var(--gap-28);
            @include mobile {
                margin-top: var(--gap-10);
            }
        }
    }
    .terms_list {
        padding-top: var(--gap-13);
        color: #b3b3b3;
        border-top: $border #b1b8be;
        > li {
            + li {
                margin-top: var(--gap-10);
            }
        }
        @include mobile {
            padding-top: var(--gap-10);
        }
    }
    .terms_item {
        @include flex-between;
        align-items: center;
    }
    input[type="checkbox"] {
        + label {
            padding-left: 3.4rem;
        }
    }
    .txt_red {
        color: #d63d4a;
    }
}
// .form_list {
//     .form-group {
//         display: flex;
//         .tit {
//             @include tbl-heading;
//             width: 143px;
//             text-align: center;
//             > label,
//             > span {
//                 display: block;
//                 width: 100%;
//             }
//         }
//         .item {
//             flex: 1;
//             @include tbl-body;
//         }
//         .tit,
//         .item {
//             @include flex-aligncenter;
//             height: auto;
//             min-height: 5.4rem;
//         }
//     }
// }

.ly_half {
    @include flex-between;
    > div {
        width: 50%;
    }
}

// list
.list_line {
    > li {
        position: relative;
        padding-left: var(--gap-12);
        &::before {
            @include pseudo-selector;
            width: 0.5rem;
            height: 0.1rem;
            background-color: var(--color-base);
        }
    }
}

// box
.blue_box {
    margin-top: var(--gap-20);
    padding: var(--gap-18) var(--gap-16);
    background-color: #e7f4fe;
    border: $border #d3ebfd;
    border-radius: 0.8rem;
    @include mobile {
        padding: var(--gap-4) var(--gap-16);
    }
}

/* layer */
.layerFix {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1001;
    &:focus {
        outline: var(--color-white) dotted 0.1rem;
    }
    @include mobile {
        width: calc(100% - 4rem) !important;
    }
}
.layer_wrap {
    position: relative;
    background-color: var(--color-white);
    .head {
        height: 4.4rem;
        padding: var(--gap-10);
        .tit {
            color: var(--color-darkblack);
            font-weight: var(--font-weight-regular);
        }
    }
    .cont {
        padding: var(--gap-30) var(--gap-10) var(--gap-50);
        .align_center {
            text-align: center;
        }
        .notice {
            position: relative;
            padding-top: 10.4rem;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                width: 8rem;
                height: 8rem;
                margin-left: -4rem;
                background: url($url-img-common + "bg_notice.svg") no-repeat 0 0;
            }
        }
        .txt {
            margin-top: var(--gap-18);
            color: var(--color-darkgray);
        }
    }
    .btn_area {
        text-align: center;
        margin-top: var(--gap-40);
        [class^="btn_"] {
            min-width: 12rem;
            margin: 0 0.75rem;
        }
    }
    .btn_close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: block;
        width: 1.6rem;
        height: 1.6rem;
        &::before,
        &::after {
            position: absolute;
            top: -0.2rem;
            right: 0.7rem;
            width: 0.1rem;
            height: 2rem;
            background-color: #33363d;
            content: "";
        }
        &::before {
            -wetkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        &::after {
            -wetkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}
.layerDim {
    display: $none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    opacity: 0.6;
}
