@charset "UTF-8";
// width 518 (로그인,회원가입)
.fix_cont {
    width: 51.8rem !important;
    // margin: 7.5rem auto 0;
    margin: var(--gap-50) auto 0 !important;
    .bottom_btn_area {
        // margin-top: var(--gap-20);
        > [class^="btn_"] {
            width: 100%;
        }
    }
    @include mobile {
        width: auto !important;
        // .blue_box,
        // .bottom_btn_area {
        //     margin-top: var(--gap-50);
        // }
        .blue_box {
            margin-top: var(--gap-50);
        }
    }
}

// 완료
.completion_area {
    position: relative;
    margin-bottom: var(--gap-50);
    padding-top: 11.4rem;
    text-align: center;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 6.4rem;
        height: 6.4rem;
        margin-left: -3.2rem;
        background: url($url-img-icon + "ico_completion.svg") no-repeat 0 0;
    }
    .msg {
        font-size: var(--font-size-xxl);
        font-weight: var(--font-semibold);
        + .txt {
            margin-top: var(--gap-50);
        }
    }
    .txt {
        font-size: 2rem;
    }
}

// 로그인
.login_wrap {
    .notice_box {
        [class^="btn_"] {
            margin-top: var(--gap-20);
            color: var(--color-base);
            border: $border #58616a;
            background: 0;
            line-height: 4.6rem;
        }
    }
    .login_btn {
        @include flex-center;
        gap: 0 2.4rem;
        margin-top: var(--gap-24);
        > a {
            + a {
                position: relative;
                &::after {
                    @include pseudo-selector;
                    left: -1.2rem;
                    width: 0.1rem;
                    height: 1.6rem;
                    margin-top: -0.8rem;
                    background-color: #cdd1d5;
                }
            }
        }
    }
    .txt_notify {
        font-weight: var(--font-semibold);
        text-align: center;
    }
    .bottom_btn_area {
        margin-top: var(--gap-24);
    }
}

// 아이디 찾기
.find_account_wrap {
    width: 75.2rem;
    margin: 0 auto;
    @include mobile {
        width: 100%;
    }
    .find_msg {
        margin-bottom: var(--gap-50);
        font-size: 2rem;
        text-align: center;
    }
}

// 간편인증
.identity_area {
    @include flex-center;
    gap: 0 1.5rem;
    > button {
        width: 13rem;
        height: 12.2rem;
        padding: var(--gap-18) var(--gap-7);
        color: var(--color-warmblue);
        font-size: var(--font-size-sm);
        font-weight: var(--font-bold);
        border-radius: 1rem;
        border: $border var(--color-warmblue);
        [class^="ico_"] {
            display: block;
            width: 4rem;
            height: 4rem;
            margin: var(--gap-20) auto 0;
        }
        @for $i from 1 through 2 {
            .ico_identity#{$i} {
                background: url($url-img-icon + "ico_identity#{$i}.svg") no-repeat 0 0;
            }
        }
    }
}

// 회원가입
.join_wrap {
    // margin-top: 7.5rem;
    // @include mobile {
    //     margin-top: var(--gap-50) !important;
    // }
    // .identity_area {
    //     padding: 3.5rem 0 11rem;
    //     @include mobile {
    //         padding: 0 0 var(--gap-50);
    //     }
    // }
    // .join_form {
    //     margin-top: var(--gap-30);
    //     @include mobile {
    //         margin-top: var(--gap-50);
    //     }
    // }
    &.wide {
        margin-top: var(--gap-24);
        @include mobile {
            margin-top: var(--gap-50);
        }
        .bottom_btn_area {
            margin-top: var(--gap-50);
        }
    }
    .bottom_btn_area {
        margin-top: var(--gap-24);
        @include mobile {
            margin-top: var(--gap-50);
        }
    }
}

// 자격증 발급
// 자격증 발급절차
.license_process {
    > ol {
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap-24);
        > li {
            @include flex-center;
            align-items: center;
            position: relative;
            width: calc(25% - var(--gap-24));
            height: 5rem;
            padding: 0 var(--gap-16);
            color: #131416;
            font-weight: var(--font-bold);
            text-align: center;
            background-color: var(--color-lightblue);
            align-items: center;
            &:after {
                @include pseudo-selector;
                left: auto;
                right: -2.4rem;
                width: 2.4rem;
                height: 2.4rem;
                margin-top: -1.2rem;
                background: url($url-img-common + "bg_arrow_right.png") no-repeat 0 0;
                background-size: contain;
            }
            &:last-child:after {
                display: var(--hide);
            }
        }
    }
    @include mobile {
        padding-top: var(--gap-25);
        > ol {
            gap: 5.4rem;
            > li {
                width: 100%;
                &:after {
                    top: auto;
                    right: auto;
                    bottom: -3.9rem;
                    transform: rotate(90deg);
                }
            }
        }
    }
}

.license_term {
    > ol {
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap-24);
        > li {
            position: relative;
            width: calc(25% - var(--gap-24));
            padding-bottom: var(--gap-6);
            text-align: center;
            border-bottom: $border #cdd1d5;
            > strong {
                display: var(--show);
                padding: var(--gap-5) var(--gap-16);
                margin-bottom: 0.6rem;
                font-size: var(--font-size-sm);
                background-color: #eef2f7;
            }
            &:after {
                @include pseudo-selector;
                left: auto;
                right: -2.4rem;
                width: 2.4rem;
                height: 2.4rem;
                margin-top: -1.2rem;
                background: url($url-img-common + "bg_arrow_right.png") no-repeat 0 0;
                background-size: contain;
            }
            &:last-child:after {
                display: var(--hide);
            }
        }
    }
    @include mobile {
        > ol {
            gap: 5.4rem;
            > li {
                width: 100%;
                &:after {
                    top: auto;
                    right: auto;
                    left: 50%;
                    bottom: -3.9rem;
                    margin-left: -1.2rem;
                    transform: rotate(90deg);
                }
            }
        }
    }
}

// layer
// 이용약관
.terms_wrap {
    .tit {
        display: block;
        margin: 3.2rem 0 1.3rem;
        color: var(--color-black);
        font-size: var(--font-size-lg);
        font-weight: var(--font-medium);
        &:first-child {
            margin-top: 0;
        }
    }
    ul {
        margin-top: var(--gap-5);
        + ul {
            margin-top: 0;
        }
        > li > ul {
            margin: 0.8rem 0 0.8rem 0.4rem;
        }
    }
    .terms_info {
        margin-top: var(--gap-20);
    }
}

// 에러페이지
.error_wrap {
    padding: 0 var(--gap-16);
    @include flex-aligncenter;
    .error_area {
        // width: 51.8rem;
        margin: 0 auto;
        text-align: center;
        .msg {
            position: relative;
            padding-top: 12.4rem;
            font-size: var(--font-size-xxl);
            font-weight: var(--font-semibold);
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                width: 6.4rem;
                height: 6.4rem;
                margin-left: -3.2rem;
                background: url($url-img-common + "bg_system_error.svg") no-repeat 0 0;
            }
            + .txt {
                margin-top: 3.8rem;
            }
        }
        .txt {
            font-size: 2rem;
        }
        @include mobile {
            width: 100%;
            margin: 0;
            .msg {
                padding-top: 11.4rem;
                font-size: 2.8rem;
                + .txt {
                    margin-top: var(--gap-50);
                }
            }
            .bottom_btn_area {
                margin-top: var(--gap-50);
            }
        }
    }
}
