@charset "UTF-8";
// 로그인&회원가입
.login_wrap,
.join_wrap {
    .page_title {
        margin: 6.5rem 0 4.3rem;
        text-align: center;
        .tit {
            font-size: 3.5rem;
        }
        @include mobile {
            margin-top: 0;
            .tit {
                font-size: 2.8rem;
            }
        }
    }
    .progress-bar {
        margin: 0 0 var(--gap-30) var(--gap-10);
    }
    .login_section,
    .join_section {
        width: 51.8rem;
        margin: 7.5rem auto 0;
        .bottom_btn_area {
            margin-top: var(--gap-20);
            > [class^="btn_"] {
                width: 100%;
            }
        }
        @include mobile {
            width: auto;
            .blue_box,
            .bottom_btn_area {
                margin-top: var(--gap-50);
            }
        }
    }
}

// 로그인
.login_wrap {
    .page_title {
        margin-bottom: var(--gap-48);
        @include mobile {
            margin-bottom: 3.2rem;
        }
    }
    .login_section {
        margin-top: 0;
        .bottom_btn_area {
            margin-top: var(--gap-24);
        }
    }
    .login_notice {
        padding: 2.2rem var(--gap-24) var(--gap-25);
        border: $border #d6e0eb;
        border-radius: 1.2rem;
        background-color: var(--color-lightblue);
        text-align: center;
        .tit {
            color: #052b57;
            font-weight: var(--font-bold);
            + .txt {
                margin-top: var(--gap-20);
            }
        }
        .txt {
            color: var(--color-gray);
            text-align: left;
        }
        [class^="btn_"] {
            margin-top: var(--gap-20);
            color: var(--color-base);
            border: $border #58616a;
            background: 0;
            line-height: 4.6rem;
        }
        + .form_section {
            margin-top: 7rem;
            @include mobile {
                margin-top: var(--gap-50);
            }
        }
    }
    .login_btn {
        @include flex-center;
        gap: 0 2.4rem;
        margin-top: 2.7rem;
        > a {
            + a {
                position: relative;
                &::after {
                    @include pseudo-selector;
                    left: -1.2rem;
                    width: 0.1rem;
                    height: 1.6rem;
                    margin-top: -0.8rem;
                    background-color: #cdd1d5;
                }
            }
        }
    }
    .txt_notify {
        margin-top: 6.5rem;
        font-weight: var(--font-semibold);
        text-align: center;
        @include mobile {
            margin-top: var(--gap-40);
        }
    }
}

// 회원가입
.join_wrap {
    .auth_area {
        @include flex-center;
        gap: 0 1.2rem;
        padding: 3.8rem 0 9.2rem;
        > button {
            width: 13rem;
            height: 12.2rem;
            padding: var(--gap-18) var(--gap-7);
            color: var(--color-warblue);
            font-size: var(--font-size-sm);
            font-weight: var(--font-bold);
            border-radius: 1rem;
            border: $border var(--color-warblue);
            [class^="ico_"] {
                display: block;
                width: 4rem;
                height: 4rem;
                margin: var(--gap-20) auto 0;
            }
            @for $i from 1 through 2 {
                .ico_auth#{$i} {
                    background: url($url-img-icon + "ico_auth#{$i}.svg") no-repeat 0 0;
                }
            }
        }
        @include mobile {
            padding: 0 0 var(--gap-50);
        }
    }
    .completion_area {
        position: relative;
        margin-bottom: 6.8rem;
        padding-top: 12.4rem;
        text-align: center;
        .msg {
            font-size: var(--font-size-xlg);
            font-weight: var(--font-semibold);
            + .desc {
                margin-top: 3.8rem;
            }
        }
        .desc {
            font-size: 2rem;
        }
        @include mobile {
            margin-bottom: 0;
            padding-top: 11.4rem;
            .msg {
                + .desc {
                    margin-top: var(--gap-50);
                }
            }
        }
    }
}

// 자격증 발급
// 자격증 발급절차
.license_process {
    > ol {
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap-24);
        > li {
            @include flex-center;
            align-items: center;
            position: relative;
            width: calc(25% - var(--gap-24));
            height: 5rem;
            padding: 0 var(--gap-16);
            color: #131416;
            font-weight: var(--font-bold);
            text-align: center;
            background-color: var(--color-lightblue);
            align-items: center;
            &:after {
                @include pseudo-selector;
                left: auto;
                right: -2.4rem;
                width: 2.4rem;
                height: 2.4rem;
                margin-top: -1.2rem;
                background: url($url-img-common + "bg_arrow_right.png") no-repeat 0 0;
                background-size: contain;
            }
            &:last-child:after {
                display: $none;
            }
        }
    }
    @include mobile {
        padding-top: var(--gap-25);
        > ol {
            gap: 5.4rem;
            > li {
                width: 100%;
                &:after {
                    top: auto;
                    right: auto;
                    bottom: -3.9rem;
                    transform: rotate(90deg);
                }
            }
        }
    }
}

.license_term {
    > ol {
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap-24);
        > li {
            position: relative;
            width: calc(25% - var(--gap-24));
            padding-bottom: var(--gap-6);
            text-align: center;
            border-bottom: $border #cdd1d5;
            > strong {
                display: $block;
                padding: var(--gap-5) var(--gap-16);
                margin-bottom: 0.6rem;
                font-size: var(--font-size-sm);
                background-color: #eef2f7;
            }
            &:after {
                @include pseudo-selector;
                left: auto;
                right: -2.4rem;
                width: 2.4rem;
                height: 2.4rem;
                margin-top: -1.2rem;
                background: url($url-img-common + "bg_arrow_right.png") no-repeat 0 0;
                background-size: contain;
            }
            &:last-child:after {
                display: $none;
            }
        }
    }
    @include mobile {
        > ol {
            gap: 5.4rem;
            > li {
                width: 100%;
                &:after {
                    top: auto;
                    right: auto;
                    left: 50%;
                    bottom: -3.9rem;
                    margin-left: -1.2rem;
                    transform: rotate(90deg);
                }
            }
        }
    }
}

// layer
// 이용약관
.terms_wrap {
    .tit {
        display: block;
        margin: 3.2rem 0 1.3rem;
        color: var(--color-black);
        font-size: var(--font-size-lg);
        font-weight: var(--font-medium);
        &:first-child {
            margin-top: 0;
        }
    }
    ul {
        margin-top: var(--gap-5);
        + ul {
            margin-top: 0;
        }
        > li > ul {
            margin: 0.8rem 0 0.8rem 0.4rem;
        }
    }
    .terms_info {
        margin-top: var(--gap-20);
    }
}

// 에러페이지
.error_wrap {
    @include flex-aligncenter;
    width: 100%;
    height: 100%;
    .error_area {
        width: 51.8rem;
        margin: 0 auto;
        text-align: center;
    }
}
