@charset "UTF-8";

// 회원가입
.join-wrap {
    .page_title {
        margin-top: 6.7rem;
        text-align: center;
        .tit {
            font-size: 3.5rem;
        }
    }
    @include mobile {
        .page_title {
            margin-top: 0;
        }
    }
}

// 자격증 발급
// 자격증 발급절차
.license_process {
    > ol {
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap-24);
        > li {
            @include flex-center;
            align-items: center;
            position: relative;
            width: calc(25% - var(--gap-24));
            height: 5rem;
            padding: 0 var(--gap-16);
            color: #131416;
            font-weight: var(--font-weight-bold);
            text-align: center;
            background-color: var(--color-lightblue);
            align-items: center;
            &:after {
                @include pseudo-selector;
                left: auto;
                right: -2.4rem;
                width: 2.4rem;
                height: 2.4rem;
                margin-top: -1.2rem;
                background: url($url-img-common + "bg_arrow_right.png") no-repeat 0 0;
                background-size: contain;
            }
            &:last-child:after {
                display: $none;
            }
        }
    }
    @include mobile {
        padding-top: var(--gap-25);
        > ol {
            gap: 5.4rem;
            > li {
                width: 100%;
                &:after {
                    top: auto;
                    right: auto;
                    bottom: -3.9rem;
                    transform: rotate(90deg);
                }
            }
        }
    }
}

.license_term {
    > ol {
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap-24);
        > li {
            position: relative;
            width: calc(25% - var(--gap-24));
            padding-bottom: var(--gap-6);
            text-align: center;
            border-bottom: $border #cdd1d5;
            > strong {
                display: $block;
                padding: var(--gap-5) var(--gap-16);
                margin-bottom: 0.6rem;
                font-size: var(--font-size-sm);
                background-color: #eef2f7;
            }
            &:after {
                @include pseudo-selector;
                left: auto;
                right: -2.4rem;
                width: 2.4rem;
                height: 2.4rem;
                margin-top: -1.2rem;
                background: url($url-img-common + "bg_arrow_right.png") no-repeat 0 0;
                background-size: contain;
            }
            &:last-child:after {
                display: $none;
            }
        }
    }
    @include mobile {
        > ol {
            gap: 5.4rem;
            > li {
                width: 100%;
                &:after {
                    top: auto;
                    right: auto;
                    left: 50%;
                    bottom: -3.9rem;
                    margin-left: -1.2rem;
                    transform: rotate(90deg);
                }
            }
        }
    }
}
